@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/UbuntuCondensed-Regular.woff2') format('woff2'),
      url('../fonts/UbuntuCondensed-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.woff2') format('woff2'),
      url('../fonts/GothamPro.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
      url('../fonts/GothamPro-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

:root {
  --white: #ffffff;
  --green: #A6CE39;
  --violet: #E400C0;
  --grey: #E5E5E5;
  --grey1: #C4C4C4;
  --darkgrey: #2E2E2E;
  --grey2: #434343;
  --dark: #2D2D2D;
  --litedark: #737373;
  --liteblack: #323232;

}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  color: var(--white);
  background-color: var(--darkgrey);
}

.container {
  max-width: 1920px;
  padding: 0 120px;
  margin: 0 auto;
}

/* Header */

.header {
  position: absolute;
  width: 100%;
  height: 230px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.header__container {
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}

.header__row {
  display: flex;
  align-items: center;
}

/* .menu {
} */

.bruger {
  position: fixed;
}

.bruger::after {
  position: absolute;
  content: '';
  top: 12px;
}

.bruger::before {
  position: absolute;
  content: '';
  top: -12px;
}

.bruger,
.bruger::after,
.bruger::before {
  width: 40px;
  height: 3px;
  background: var(--grey);
}


.logo {
  height: 56px;
  width: 238px;
  margin-left: 100px;
  background: url('../img/logo.png') center center no-repeat;
  background-size: contain;
}

.link-main {
  position: fixed;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--green);
}

.call {
  position: fixed;
  width: 74px;
  height: 74px;
  right: 40px;
  mask-image: url('../img/Subtract.svg');
  -webkit-mask-image: url('../img/Subtract.svg');
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: var(--green);
}

/* Hero */
.hero {
  padding-top: 330px;
  height: 1200px;
  width: 100%;
}

.index__hero {
  height: 100vh;
  background: url('../img/bg.jpg') right top no-repeat;
  background-size: cover;
}

.main__title {
  font-size: 52px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.main__text_green {
  color: var(--green);
}

.main__text {
  font-size: 24px;
  line-height: 28px;
}

.btn__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 24px 30px;
  border: none;
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: var(--white);
  background-color: var(--violet);
}

.btn__order {
  position: fixed;
  right: -1%;
  bottom: 10%;
  z-index: 2;
  transform: rotate(270deg);
}

.btn__line {
  margin-bottom: 10px;
  position: relative;
  height: 3px;
  width: 20px;
  background-color: var(--grey);
}

.btn__line::before {
  position: absolute;
  content: '';
  top: -7px;
  left: 0;
  height: 3px;
  width: 33px;
  background-color: var(--grey);
}

.btn__line::after{
  position: absolute;
  content: '';
  top: 7px;
  left: 0;
  height: 3px;
  width: 50px;
  background-color: var(--grey);
}

/* section why */
.section__why {
  background: var(--darkgrey);
  padding: 30px 0 70px;
}

.section__title {
  margin: 0;
  padding: 68px 0;
  font-size: 68px;
  line-height: 72px;
  text-transform: uppercase;
}

.why__bg {
  margin-top: 20px;
}

.item__title {
  margin: 10px 0;
  font-size: 24px;
  line-height: 23px;
}

.item__title_uppercase {
  text-transform: uppercase;
}

.item__text {
  max-width: 650px;
  font-size: 16px;
  line-height: 20px;
}

.why__item {
  padding-top: 15px;
}

/* section portfolio */
.section__portfolio {
  padding: 13px 0 67px;
  background: var(--grey2);
}

.section__portfolio-text {
  font-size: 28px;
  line-height: 36px;
}

.portfolio__list {
  margin-top: 80px;
  margin-bottom: 66px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  padding: 0 18px;
  background-color: var(--dark);
}

.portfolio__item:not(:first-child) {
  margin-left: 25px;
}

.portfolio__item_active {
  background: #828282;
}

.section__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio__box {
  position: relative;
  overflow: hidden;
  margin-bottom: -3px;
  text-align: center;
}

.portfolio__box-img_opacity {
  background: rgba(28, 28, 28, 0.74);
  mix-blend-mode: multiply;
  transform: scale(1.5, 1.5);
  transform-origin: left top;
}

.portfolio__box-text {
  position: absolute;
  top: 30%;
  left: 18%;
}

.box__title {
  font-weight: 700;
  font-size: 58px;
  line-height: 56px;
}

.box__text {
  font-size: 24px;
  line-height: 28px;
}

.portfolio__box-img {
  transition: transform 0.3s ease-in-out;
}

.portfolio__box:hover .portfolio__box-img,
.portfolio__box:focus .portfolio__box-img {
  transform: scale(1.2, 1.2);
}

.portfolio__more {
  position: relative;
  background-color: var(--litedark);
  padding: 30px 100px 37px;
  color: var(--white);
  font-size: 18px;
  line-height: 17px;
}

.portfolio__more:after {
  position: absolute;
  content: '';
  bottom: 20%;
  left: 50%;
  transform: translate(-20%, -50%);
  width: 96px;
  height: 12px;
  mask-image: url('../img/Arrow.svg');
  -webkit-mask-image: url('../img/Arrow.svg');
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: var(--white);
}

/* section more-info */
.section__more-info {
  background: var(--liteblack);
  padding-top: 60px;
}

.more-info__bg {
  position: relative;
  height: 590px;
}

.more-info__bg-gagarin {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../img/gagarin.png') center bottom no-repeat;
  background-size: contain;
}

.more-info__bg-grin {
  position: absolute;
  width: 350px;
  height: 400px;
  top: 20px;
  background: url('../img/shapeltek1.png') center bottom no-repeat;
  background-size: contain;
}

.more-info__bg-pink {
  position: absolute;
  height: 208px;
  width: 270px;
  bottom: 0;
  left: 40%;
  background: url('../img/shapeltek.png') center bottom no-repeat;
  background-size: contain;
}

.more-info__title {
  padding-bottom: 0;
  font-size: 50px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.ubuntu__text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--white);
}

.contain__row {
  display: flex;
  flex-wrap: wrap;
}

.more-info__input {
  max-width: 372px;
  height: 60px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 18px 22px;
  border: none;
  background: var(--grey1);
}

.more-info__input::placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.005em;
  color: #757575;
}

.check__lable {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 0px;
  color: var(--grey);
}

.check {
  z-index: 1;
  opacity: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.check + span {
  position: relative;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  border: 2px solid #95C11F;
  text-align: center;
}

.check + span:after {
  content: url('../img/v.svg');
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.check:checked + span:after {
 opacity: 1;
}

/* section staff */
.section__staff {
  padding: 20px 0 120px;
  background: var(--grey2);
}

.staff__title {
  text-align: right;
  margin: 20px 0 50px;
  font-size: 177px;
  line-height: 108px;
  color: #606060;
}

.staff__item {
  width: fit-content;
  background: var(--dark);
  padding: 15px 20px;
}

.staff__item:hover {
  width: 100%;
}

.staff__item:not(:first-child) {
  margin-top: 49px;
}

.staff__text {
  margin: 0;
}

[class*="staff__photo"] {
  width: 220px;
  height: 275px;
  position: relative;
}

.staff__photo1 {
  background: url('../img/photo1.jpg') center center no-repeat;
  background-size: cover;
  display: none;
}

.staff__photo2 {
  background: url('../img/photo2.jpg') center top no-repeat;
  background-size: cover;
}

.staff__photo3 {
  background: url('../img/photo3.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo4 {
  background: url('../img/photo4.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo5 {
  background: url('../img/photo5.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo6 {
  background: url('../img/photo6.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo7 {
  background: url('../img/photo7.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo8 {
  background: url('../img/photo8.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo9 {
  background: url('../img/photo9.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo10 {
  background: url('../img/photo10.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo11 {
  background: url('../img/photo11.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo12 {
  background: url('../img/photo12.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo13 {
  background: url('../img/photo13.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo14 {
  background: url('../img/photo14.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo15 {
  background: url('../img/photo15.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo16 {
  background: url('../img/photo16.jpg') center center no-repeat;
  background-size: cover;
}

.staff__photo11::before {
  position: absolute;
  content: url('../img/Layer.png');
  top: 0;
  right: 20px;
}

.staff__photo13::after {
  position: absolute;
  content: url('../img/fb.png');
  bottom: 17px;
  right: 85px;
}

.staff__photo13::before {
  position: absolute;
  content: url('../img/fb2.png');
  bottom: 17px;
  right: 10px;
}

.brands {
  background: var(--white);
}

.brands__container {
  padding: 65px 0;
}

.swiper-wrapper {
  /* height: 135px; */
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}

.swiper-slide {
  margin-right: 70px;
  text-align: center;
}

.brands__item {
  width: auto !important;
}
